cryptography==42.0.8
git+https://github.com/politicalwatch/tipi-tasks.git
git+https://github.com/politicalwatch/tipi-data.git
ipdb==0.13.13
pymongo==4.7.2
python-pcre==0.7
requests-futures==1.0.1
textract==1.6.5
six==1.12.0
python-Levenshtein==0.25.1
beautifulsoup4==4.8.0
pdf2image==1.17.0
pytesseract==0.3.10
thefuzz==0.22.1
python-slugify==8.0.4
cssselect==1.2.0
