
beautifulsoup4==4.8.0
cryptography==42.0.8
cssselect==1.2.0
git+https://github.com/politicalwatch/tipi-data.git
git+https://github.com/politicalwatch/tipi-tasks.git
ipdb==0.13.13
pdf2image==1.17.0
pymongo==4.7.2
pytesseract==0.3.10
python-Levenshtein==0.25.1
python-slugify==8.0.4
regex==2024.11.6
requests-futures==1.0.1
six==1.12.0
textract==1.6.5
thefuzz==0.22.1